title: Threat Intelligence Research
description: Cybersecurity research focused on threat intelligence and infrastructure security
url: https://kam-413.github.io

markdown: kramdown
highlighter: rouge

plugins:
  - jekyll-feed

permalink: /:categories/:title/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
